<div class="main-content fadeinleft animation-duration-1000">
    <app-header></app-header>

    <h1 class="form-title">Inducción SG-SST proveedores y crew</h1>
    <p class="mb-3">A continuación se presenta la inducción en Seguridad y Salud en el Trabajo que <b>DYNAMO PRODUCCIONES S.A.S</b>, y sus empresas subsidiarias, asociadas, y/o relacionadas, proporciona a todos sus aliados estratégicos que permite el desarrollo de las actividades de una manera segura.</p>
    <p class="mb-3">Tiene validez durante la vigencia del contrato suscrito, al vencerse se debe realizar la reinducción en SST ya que este documento es un requisito fundamental para poder realizar las labores en los proyectos y áreas de Dynamo.</p>
    <p class="mb-1">A continuación encuentra el link en donde podrá el video de la inducción:</p>
    <a [href]="link_video_sst$ | async" target="_blank">Ver Video Inducción Sistema de Gestión de Seguridad y Salud en el Trabajo:</a>

    <form class="mt-5" [formGroup]="parentForm" autocomplete="off">
        <!-- Yes not -->
        <div formArrayName="evaluation_sst_yes_not" class="content-row mb-3">
            <p class="info-section">A continuación seleccione los temas vistos durante la inducción o reinducción en Seguridad y Salud en el Trabajo</p>
            <div *ngFor="let evaluation of evaluation_sst_yes_not$ | async; let i = index" class="content-col m_8 ">
                <div class="flex">
                    <label>{{ evaluation.question }} <span class="text-red">*</span></label>
                    <p class="lbl-eng"></p>
                    <div class="input-choose-option">
                        <label *ngFor="let option of evaluation.options; let j = index">
                            <input name="{{i}}" type="radio" [value]="option.id" formControlName="{{i}}">
                            {{ option.option }}
                        </label>
                    </div>
                </div>
                <div class="flex justify-content-end">
                    <small class="text-red" *ngIf="hasErrors(getFormArray('evaluation_sst_yes_not').controls[i])">{{ getErrorLabel(getFormArray('evaluation_sst_yes_not').controls[i]) }}</small>
                </div>
            </div>
        </div>
        <div formArrayName="evaluation_sst">
            <div *ngFor="let evaluation of evaluation_sst$ | async; let i = index" class="content-row mb-3">
                <div class="content-col m_8 ">
                    <label class="info-section">{{i + 1}}. {{ evaluation.question }} <span class="text-red">*</span></label>
                    <p class="lbl-eng"></p>
                    <div>
                        <label *ngFor="let option of evaluation.options; let j = index" class="flex">
                            <input class="mr-2" name="{{i}}" type="radio" [value]="option.id" formControlName="{{i}}">
                            {{ passNumberToLetter(j) }}. {{ option.option }}
                        </label>
                    </div>
                    <small class="text-red" *ngIf="hasErrors(getFormArray('evaluation_sst').controls[i])">{{ getErrorLabel(getFormArray('evaluation_sst').controls[i]) }}</small>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between">
            <button (click)="navigateTo('compliance-form')" type="submit">ATRAS</button>
            <button (click)="submit()" type="submit">ENVIAR FORMULARIO</button>
        </div>
    </form>
</div>