<div class="main-content fadeinleft animation-duration-1000">
    <app-header></app-header>

    <h1 class="form-title">Inducción Compliance Proyectos</h1>
    <p>A continuación se presenta la inducción en temas de Compliance que <b>DYNAMO PRODUCCIONES S.A.S</b>, y sus empresas subsidiarias, asociadas, y/o relacionadas, proporciona a todos sus aliados estratégicos. <br>
        Tiene validez durante la vigencia del contrato suscrito y es un requisito fundamental para poder realizar las labores en los proyectos y áreas de Dynamo.</p>

    <form [formGroup]="parentForm" autocomplete="off">
        <div class="content-row mb-3">
            <div class="content-col m_8 ">
                <label class="info-section">1. Hablamos de conflictos de interés cuando: <span class="text-red">*</span></label>
                <p class="lbl-eng"></p>
                <div>
                    <label class="flex">
                        <input name="conflicts" type="radio" value="1" formControlName="conflicts" class="mr-2">
                        A. Alguien ofrece dinero para obtener lo que quiere.
                    </label>
                    <label class="flex">
                        <input name="conflicts" type="radio" value="2" formControlName="conflicts" class="mr-2">
                        B. Alguien antepone intereses personales para la toma de decisiones.
                    </label>
                    <label class="flex">
                        <input name="conflicts" type="radio" value="3" formControlName="conflicts" class="mr-2">
                        C. A y B son correctas
                    </label>
                </div>
                <small class="text-red" *ngIf="hasErrors(getControl('conflicts'))">{{ getErrorLabel(getControl('conflicts')) }}</small>
            </div>
        </div>
        <div class="content-row mb-3">
            <div class="content-col m_8 ">
                <label class="info-section">2. El lavado de activos se presenta cuando se realizan las siguientes actividades: <span class="text-red">*</span></label>
                <p class="lbl-eng"></p>
                <div>
                    <label class="flex">
                        <input class="mr-2" name="asset_laundering" type="radio" value="1" formControlName="asset_laundering">
                        A. Adquirir, resguardar, invertir, transportar, transformar, custodiar o administrar bienes que tengan un origen ilícito.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="asset_laundering" type="radio" value="2" formControlName="asset_laundering">
                        B. Adquirir, resguardar e  invertir bienes de origen ilícito
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="asset_laundering" type="radio" value="3" formControlName="asset_laundering">
                        C. Cualquier forma de acción económica, ayuda o mediación que proporcione apoyo financiero a las actividades de elementos o grupos terroristas.
                    </label>
                </div>
                <small class="text-red" *ngIf="hasErrors(getControl('asset_laundering'))">{{ getErrorLabel(getControl('asset_laundering')) }}</small>
            </div>
        </div>
        <div class="content-row mb-3">
            <div class="content-col m_8 ">
                <label class="info-section">3. Hablamos de Extorsión cuando: <span class="text-red">*</span></label>
                <p class="lbl-eng"></p>
                <div>
                    <label class="flex">
                        <input class="mr-2" name="extortion" type="radio" value="1" formControlName="extortion">
                        A. Se presenta abuso de poder para obtener un beneficio propio.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="extortion" type="radio" value="2" formControlName="extortion">
                        B. Se Amenaza o intimida para exigir algo.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="extortion" type="radio" value="3" formControlName="extortion">
                        C. Ninguna es correcta.
                    </label>
                </div>
                <small class="text-red" *ngIf="hasErrors(getControl('extortion'))">{{ getErrorLabel(getControl('extortion')) }}</small>
            </div>
        </div>
        <div class="content-row mb-3">
            <div class="content-col m_8 ">
                <label class="info-section">4. Hablamos de Soborno cuando: <span class="text-red">*</span></label>
                <p class="lbl-eng"></p>
                <div>
                    <label class="flex">
                        <input class="mr-2" name="bribery" type="radio" value="1" formControlName="bribery">
                        A. Se abusa del poder para obtener un beneficio propio.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="bribery" type="radio" value="2" formControlName="bribery">
                        B. Se ofrece dinero para obtener algo.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="bribery" type="radio" value="3" formControlName="bribery">
                        C. A y B son correctas
                    </label>
                </div>
                <small class="text-red" *ngIf="hasErrors(getControl('bribery'))">{{ getErrorLabel(getControl('bribery')) }}</small>
            </div>
        </div>
        <div class="content-row mb-3">
            <div class="content-col m_8 ">
                <label class="info-section">5. El debido tratamiento de los datos protege las siguientes acciones: <span class="text-red">*</span></label>
                <p class="lbl-eng"></p>
                <div>
                    <label class="flex">
                        <input class="mr-2" name="data_processing" type="radio" value="1" formControlName="data_processing">
                        A. Recolección, divulgación, transferencia.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="data_processing" type="radio" value="2" formControlName="data_processing">
                        B. Uso, recolección, supresión, almacenamiento y circulación.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="data_processing" type="radio" value="3" formControlName="data_processing">
                        C. Privacidad y reserva.
                    </label>
                    <label class="flex">
                        <input class="mr-2" name="data_processing" type="radio" value="4" formControlName="data_processing">
                        D. Confidencialidad, uso y recolección.
                    </label>
                </div>
                <small class="text-red" *ngIf="hasErrors(getControl('data_processing'))">{{ getErrorLabel(getControl('data_processing')) }}</small>
            </div>
        </div>
        <div class="flex justify-content-between">
            <button (click)="navigateTo('info-form')" type="submit">ATRAS</button>
            <button (click)="submit()" type="submit">SIGUIENTE</button>
        </div>
    </form>
</div>