<div class="main-content fadeinleft animation-duration-1000">
    <app-header></app-header>

    <h1 class="form-title">Inducción Compliance Proyectos</h1>
    <p class="mb-3">A continuación se presenta la inducción en temas de Compliance que <b>DYNAMO PRODUCCIONES S.A.S</b>, y sus empresas subsidiarias, asociadas, y/o relacionadas, proporciona a todos sus aliados estratégicos.</p>
    <p class="mb-3">Tiene validez durante la vigencia del contrato suscrito y es un requisito fundamental para poder realizar las labores en los proyectos y áreas de Dynamo.</p>
    <p class="mb-1">A continuación encuentra el link en donde podrá el video de la inducción:</p>
    <a href="https://dynamodevelopment.slides.com/dynamoproducciones/bento/fullscreen?token=erwCKzu_" target="_blank">VIDEO COMPLIANCE</a>

    <form [formGroup]="parentForm" autocomplete="off">
        <div formArrayName="questions">
            <div *ngFor="let evaluation of evaluation_compliances$ | async; let i = index" class="content-row mb-3">
                <div class="content-col m_8 ">
                    <label class="info-section">{{i + 1}}. {{ evaluation.question }} <span class="text-red">*</span></label>
                    <p class="lbl-eng"></p>
                    <div>
                        <label *ngFor="let option of evaluation.options; let j = index" class="flex">
                            <input class="mr-2" name="{{i}}" type="radio" [value]="option.id" formControlName="{{i}}">
                            {{ passNumberToLetter(j) }}. {{ option.option }}
                        </label>
                    </div>
                    <small class="text-red" *ngIf="hasErrors(getFormArray('questions').controls[i])">{{ getErrorLabel(getFormArray('questions').controls[i]) }}</small>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between">
            <button (click)="navigateTo('info-form')" type="submit">ATRAS</button>
            <button (click)="submit()" type="submit">SIGUIENTE</button>
        </div>
    </form>
</div>