header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--title-font-size);
    color: var(--primary-color);
    padding: 22px 0;
    position: sticky;
    top: 0;
    background-color: white;

    .header-logo img {
      height: 33px;
    }
}

.header-buttons {
    display: flex;
}

button.tiny-button {
    position: fixed;
    top: 20px;
    right: 20px;
}
  
@media only screen and (max-width: 768px) {
    header {
      position: sticky;
      top: 0;
      background: white;
      z-index: 10;
    }
}